.overlays{
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
  
}


.loginmodal{
    display: flex;
    min-width: 400px;
    max-width: 90%;
    min-height: 200px;
    max-height: 90vh;
    border-radius: 4px;
    margin: 0 auto;
    overflow: none;
   z-index: 2;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.logn{
    display: flex;
    color: #212121;
    margin: 0 25px;
    overflow: hidden;
    border-radius: 2px;
    height: 528px;
    max-width: 750px;
    min-width: 650px;
}

.left{
    width: 40%;
    background-color: #2874f0;
    padding: 40px 33px;
    color: rgb(245, 243, 243);
    font-family: Arial, sans-serif;
    font-weight: 100;
    ;
}

.right{
    padding: 70px 50px;
    background-color: #fff;
    position: relative;
    width: 50%;
}
.logininput{
    border: none;
    font-size: 20px;
    outline: none;
    margin: 5px;
}
.crossicon{
    display: flex;
    right: 0;
    top: 0;
    position: absolute;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    z-index: 7;
}

.hrline{
    width:100%;
}
.loginbtn{
    margin-top: 15px;
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: none;
    color: #fff;
    width: 100%;
    height: 48px;
    font-size: 20px;
    
    

}

.newacc{
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    text-align: center;
    color: #2874f0;
    font-weight: 500;
    cursor: pointer;
  
    
}
.tnc{
    margin-top: 30px;
    font-size: 12px;
}

.incorrect{
    color: red;
    font-size: 12px;
    margin-left: 20px;
}