.header{
    width: 100vw;
    height: 70px;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: center !important;
}

.listcontainer{
 box-shadow: -1px 4px 11px -2px rgba(0,0,0,0.75); 
 position: absolute;
 top: 80px; 
 background-color: #ffffff; 
 z-index: 12;
 border-radius: 10px;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.listitem{
    list-style: none;
    margin: 14px;
    cursor: pointer;
    font-size: 15px;

}

.link:hover{
    color: #2874f0;
}
.navbar{
  width: 80vw; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  
}

.leftnav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}
.rightnav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}
.username{
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
}

.logout{
    background-color: rgb(240, 51, 51);
    width: 90px;
    height: 35px;
    padding: 5px;
    border-radius: 20%;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
    display: none;
    
    
}

.usernamediv{
    position:relative;
    top: 0;
    z-index: 12;
    height: 130px;
    width: 40px;
}

.usernamediv:hover .logout{
    display: flex;

}

.logo img{
    width: 9rem;
    
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 40rem;
    height: 50px;
    border-radius:10px;
    outline: none;
    margin-left: 34px;
   
    
}
.input input{
    outline: none;
    border: none;
    font-size: 25px;
    width: 32rem;
   

}

.search-icon{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
 
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    

}
.list-item{
    margin:  0 25px;
    color: #fff;
}

.button button{
    color: #2874f0;
    font-weight: 900;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}

.rightnavmobile{
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 0;
    width: 300px;
    height: 400px;
    flex-direction: column;
    z-index: 20;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;

    
}

.menuicon{
    display: none;
}


.cart{
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart-icon{
    font-size: 30px;
    margin-right: 10px;
}
@media screen and (max-width: 1050px) {
    .rightnav{
        display: none;
    }
    .menuicon{
        display: block;
        color: white;
        margin: 10px;
        font-size: 30px;
        z-index: 20;
    }
    .mmenuheader{
        width: 100%;
        height: 60px;
        background-color: #2874f0;
    }
    .navbar{
        width: 95%;
    }
    .logo img{
        width: 85px;
        height: 29px;
        margin: 15px;
    }
    .input{
        width:59vw
    }
   .input input{
    width: 70%;
    font-size: 14px;
    margin-left: 10px;

   }
   
.list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin:10px ;
    flex-direction: column;
    
    

}
.list li{
    margin-top: 15px;
    color: black;
}
.button{
    margin-top: 30px;
    color:black;
    border: none;
}
.button button{
    color:black;
    background-color: none;
    border: none;
}

}

@media screen and (max-width: 500px) {
    .rightnav{
        display: none;
    }
    .navbar{
        width: 95%;
    }
    .logo img{
        width: 70px;
        height: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .input{
        width:53vw;
        margin-left: 0;
    }
   .input input{
    width: 70%;
    font-size: 14px;
    margin-left: 10px;

   }
   
.list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin:10px ;
    flex-direction: column;
    
    

}
.list li{
    margin-top: 15px;
    color: black;
}
.button{
    margin-top: 30px;
    color:black;
    border: none;
}
.button button{
    color:black;
    background-color: none;
    border: none;
}

}